* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "PressStart";
    src: url("./../res/fonts/PressStart2P.ttf");
}

body {
    background-image: url("./../res/img/brick.jpg");
    background-size: 35px;
    background-color: rgb(65, 139, 236);
}

.texto_borda {
    -webkit-text-stroke: 0.5px black;
}