.container {
    display: grid;
    grid-template-areas: 
        "navbar navbar"
        "sidebar conteudo";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 250px 1fr;
    border: 1px solid red;
    height: 100vh;
}

.navbar {
    grid-area: navbar;
}

.profile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #2C125E;
}

.profile img {
    width: 115px;
    margin: 15px 0px;
}

.dashboard {
    grid-area: sidebar;
    background-color: #553E80;
    font-family: 'PressStart';
    color: white;
}

.dashboard ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dashboard li {
    display: flex;
    border-left: 16px solid #3C1880;
    border-bottom: 3px solid #2C125E;
    font-size: 14px;
    height: 80px;
    justify-content: flex-start;
    padding: 0px 14px;
    align-items: center;
    list-style: none;
}

.dashboard li:hover,
.ativo {
    background-image: linear-gradient(to right, #3C1880, #6127CC);
}

.conteudo {
    background-color: lightgray;
    grid-area: conteudo;
    font-size: 150px;
    word-break: break-all;
    overflow: scroll;
}