body, html {
    height: 100%;
}

.pagina {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
}

.profile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #2C125E;
}

.profile img {
    width: 115px;
    margin: 15px 0px;
}

.dashboard {
    flex: 2;
    background-color: #553E80;
    color: white;
    font-family: 'PressStart';
    min-width: 250px;
}

.dashboard ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dashboard li {
    display: flex;
    border-left: 16px solid #3C1880;
    border-bottom: 3px solid #2C125E;
    font-size: 14px;
    height: 80px;
    justify-content: flex-start;
    padding: 0px 14px;
    align-items: center;
    list-style: none;
}

.dashboard li:hover,
.ativo {
    background-image: linear-gradient(to right, #3C1880, #6127CC);
}

.conteudo {
    flex: 10;
}