.portrait {
  display: block;
  box-sizing: content-box;
  border-radius: 15px;
  position: relative;
  width: 250px;
  height: 320px;
  margin: auto;
  border: 5px solid #21205B;
  background-color: #2C2B6A	;
}

.foto {
  margin: auto;
  width:fit-content;
  height: 225px;
}

.foto img {
  height: 100%;
  max-height: 225px; 
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #A1A1CA;
  height: 95px;
  width: 250px;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nome {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  bottom: 0;
  width: inherit;
  height: 65px;
  font-family: 'PressStart';
  background-color: #4E4D89;
  color: white;
  text-align: center;
  line-height: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.cargo {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: inherit;
  font-size: 14px;
  height: 30px;
  color: white;
  font-family: 'PressStart';
}