.conteudo {
    padding: 25px 0;
}

input,
input::placeholder {
    text-align: center;
    outline: none;
    border: none;
}
.regras {
    width: 80%;
    padding: 10px 0;
    border-radius: 10px;
    height: auto;
    background-color: white;
    padding: 12px;
}

hr {
    margin: 25px 0;
}

h3 {
    margin-bottom: 15px;
}

table {
    width: 90%;
    text-align: center;
    margin: 12px 0;
}

table,th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}

[class*="input-"] {
    width: 100%;
    height: 2em;
}

.input-pontos, .pontos {
    width: 75px;
}

#enviar, 
#enviar:visited,
#enviar:hover,
#enviar:link,
#enviar:any-link {
    display: block;
    background-color: green;
    padding: 6px 12px;
    text-decoration: none;
    color: white;
    margin: auto;
    width: auto;
}

.regras,
table,
#form-regras {
    margin: auto;
}

.oculto {
  display: none;
}

.texto-adicionar-regra {
  width: fit-content;
  margin: auto;
  margin-bottom: 25px;
  padding: 12px;
  background-color: purple;
  color: white;
  border-radius: 5px;
}

@media only screen and (max-width: 992px) {
  .regras {
    width: 95%;
    border-radius: 2;
  }

  table {
    width: 100%;
  }
}