.area-diretoria {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 15px auto;
  padding: 25px;
  flex-wrap: wrap;
  width: 90%;
}

#nome-diretoria {
  display: block;
  width: 100%;
}

#color-picker {
  width: 100%;
}

.nova-tabela {
  margin-bottom: 25px;
  width: 100%;
  text-align: center;
  height: 1.5rem;
  font-size: 1.2rem;
}

.nova-tabela, .nova-tabela th, .nova-tabela td {
  border: 2px solid black;
  border-collapse: collapse;
}

.nova-tabela input, .nova-tabela input::placeholder {
  text-align: center;
  font-size: 1.2rem;
  color: grey
}

.submit {
  width: 100%;
  background: green;
  color: white;
  border: none;
  font-size: 1.2rem;
}

.titulo {
  background-color: purple;
  color: white;
}